<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Functional Group Suite">
  <listeners>
    <listener class-name="com.example.Final.Demo.Spring.Project.listener.TestResultLogger"/>
  </listeners>
  <test name="Sanity and Cart">
    <groups>
      <run>
        <include name="sanity"/>
        <include name="cart"/>
      </run>
    </groups>
    <classes>
      <class name="com.example.Final.Demo.Spring.Project.functional.FunctionalTestSuiteTest"/>
    </classes>
  </test>
</suite>
